@model BankAccounts.Models.LoginUser

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <h1>Login</h1>
        <form asp-action = "UserLogin" asp-controller = "User" method = "POST">
            <span asp-validation-for="email"></span>
            <label asp-for = "email">Email:</label>
            <input asp-for = "email">

            <span asp-validation-for="password"></span>
            <label asp-for = "password">Password:</label>
            <input asp-for = "password" type = "password">

            <input type="submit" value = "Login">
        </form>


        <a href="/">Not yet registered? Click here</a>
    </body>
</html>