<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Success</title>
        {% load static %}
        <link rel="stylesheet" href="{% static '/login_registration/skeleton.css' %}">
    </head>
    <body>
        <div class = "container">
            <h2>Welcome to your homepage, {{user_name.first_name}}!</h2>
            <form action="/logout">
                {% csrf_token %}
                <input type="submit" value = "log out">
            </form>
        </div>
    </body>
</html>