<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Lost In the Woods</title>
        <link rel="stylesheet" href="~/css/style.css">

    </head>
    <body>
        <h1>Lost in the Woods</h1>
        <h3>List of Local Hiking</h3>

        <table class = "trailtable">
            <tr>
                <th>Trail Name</th>
                <th>Trail Length (miles)</th>
                <th>Elevation Change (feet)</th>
            </tr>
        @foreach(var trail in ViewBag.AllTrails)
        {
            <tr>
                <td><a href="/trails/@trail.Id">@trail.Name</a></td>
                <td>@trail.Length</td>
                <td>@trail.ElevationChange</td>
            </tr>
        }
        </table>
        <form action="/NewTrail">
            <input class = "button" type="submit" value = "Add a new trail!">
        </form>
    </body>
</html>