@model Trail
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Add a new Trail</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <h1>Add a new Trail!</h1>
        <form asp-action="ProcessAdd" asp-controller="Trail" method="POST">
            <span asp-validation-for="Name"></span>
            <label asp-for="Name">Name:</label>
            <input asp-for="Name">

            <span asp-validation-for="Description"></span>
            <label asp-for="Description">Description:</label>
            <input asp-for="Description">
            
            <span asp-validation-for="Length"></span>
            <label asp-for="Length">Length: </label>
            <input asp-for="Length">

            <span asp-validation-for="ElevationChange"></span>
            <label asp-for="ElevationChange">Elevation Change: </label>
            <input asp-for="ElevationChange">

            <span asp-validation-for="Longitude"></span>
            <label asp-for="Longitude">Longitude: </label>
            <input asp-for="Longitude">

            <span asp-validation-for="Latitude"></span>
            <label asp-for="Latitude">Latitude: </label>
            <input asp-for="Latitude">

            <input type="submit" value = "Create Record!">
        </form>
        <a href="/">Go Home</a>
    </body>
</html>