body{
    width: 900px;
    margin: auto;
}


input, select, textarea {
    width: 97%;
    padding: 12px;
    padding-right: 0px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

 .button{
    width: 20%;
}

span{
    display: block;
    color: red;
}

.trailtable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}

.trailtable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.trailtable tr:nth-child(even){background-color: #f2f2f2;}

.trailtable tr:hover {background-color: #ddd;}

.trailtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}