<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Projects</title>
        <link rel="stylesheet" href="~/css/style.css">

    </head>
    <body>
        <div class = "container">
            <div class = "header">
                <p><a href="/">Home</a> | <a href="/projects">Projects |</a> <a href="/contact">Contacts</a></p>
                <h3>Here are some of my projects!</h3>
            </div>
            <div class = "projects">
                <div class = "project">
                    <img src="~/img/moose_1.jpg" alt="picture of moose">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed delectus corrupti minima amet debitis esse aut ullam nihil ipsum. Exercitationem fugit reprehenderit error vel incidunt, officia ea voluptatem corporis recusandae!</p>
                    <hr>
                </div>
                <div class = "project">
                    <img src="~/img/moose_2.jpg" alt="picture of moose">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur reiciendis dicta assumenda sapiente quod dolorem aliquam eos a distinctio commodi sequi perferendis minima, fuga, vitae sed eum similique consequatur molestias.</p>
                    <hr>
                </div>
                <div class = "project">
                    <img src="~/img/moose_3.jpg" alt="picture of moose">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum consequuntur repellat nesciunt autem illum culpa commodi obcaecati atque laudantium veniam neque, molestias in. Nam ipsa fugiat quaerat inventore. Fuga, explicabo.</p>
                </div>



            </div>



        </div>
    </body>
</html>