body{
    width: 900px;
    margin: auto;
}


input, select, textarea {
    width: 97%;
    padding: 12px;
    padding-right: 0px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

 .button{
    width: 20%;
}

span{
    display: block;
    color: red;
}