<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Edit User</title>
        <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    </head>
    <body>
        <div class = "wrapper">
            <h1>Edit User {{user_info[0]['id']}}</h1>
            <form action="/users/{{user_info[0]['id']}}/edit" method = "POST">
                <p>First Name: <input type="text" name = "first_name"></p>
                <p>Last Name: <input type="text" name = "last_name"></p>
                <p>Email: <input type="text" name = "email"></p>
                <p><input class = "button" type="submit" value = "update"></p>
            </form>
            <a class = "center" href="/users">Home</a>
        </div>
    </body>
</html>