<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class = "container">
    @{
        string [] stringArray = new string[] {"Capitals", "Hurricanes", "Penguins", "Calgary"};

        foreach(string team in stringArray)
        {
            if(team[0] == 'C')
            {
                <p class = "letterc">@team</p>
            }
            else
            {
                <p>@team</p>
            }
        }
    }
    </div>

</body>
</html>