@model User

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Register</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <h1>Register Below:</h1>
        <form asp-action="RegisterAction" asp-controller="User" method="POST">

            <span asp-validation-for="first_name"></span>
            <label asp-for="first_name">First Name:</label>
            <input asp-for="first_name">

            <span asp-validation-for="last_name"></span>
            <label asp-for="last_name">Last Name: </label>
            <input asp-for="last_name">

            <span>@ViewBag.EmailError</span>
            <span asp-validation-for="email"></span>
            <label asp-for="email">Email Address: </label>
            <input asp-for="email">

            <span asp-validation-for="password"></span>
            <label asp-for="password">Password: </label>
            <input asp-for="password" type="password">

            <input type="submit" value = "Register">

        </form>

        <a href="/login">Already have an account? Login here.</a>
    </body>
</html>