<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <div class = "container">
            <form action="/results" method = "POST">
                Your Name: 
                <input type="text" name = "name">
                Favorite City: 
                <select name="location">
                    <option value="Washington DC">Washington DC</option>
                    <option value="New York">New York</option>
                    <option value="San Diego">San Diego</option>
                </select>
            Favorite Language: 
            <select name="language">
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="C#">C#</option>
            </select>
            Comment: 
            <textarea name="comment"cols="30" rows="10"></textarea>
            <input type="submit">
            </form>
        </div>
    </body>
</html>