<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Passcode Generator</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <fieldset>
        <legend>Your Passcode:</legend>
        <fieldset>
            @ViewBag.Passcode
        </fieldset>
        <h5>Passcode #: @ViewBag.Number</h5>
        <form action="/">
            <input type="submit" value = "Generate!">
        </form>
        <form action="/clear">
            <input type = "submit" value = "Clear Counter">
        </form>

    </fieldset>

</body>
</html>