<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <div class = "container">
            <div class = "header">
                <p><a href="/">Home</a> | <a href="/projects">Projects |</a> <a href="/contact">Contacts</a></p>
            </div>
            <fieldset>
                <legend>Moose Phillips: About Me</legend>
                <img src="~/img/moose.jpg" alt="picture of a moose">
                <p class = "lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquid inventore fugit quidem reprehenderit distinctio, deserunt dignissimos maxime ex totam doloremque accusantium, magnam minima suscipit vero consectetur veritatis quibusdam architecto.</p>
            </fieldset>



        </div>
        
    </body>
</html>