<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Users</title>
        {% load static %}
        <link rel="stylesheet" href="{% static '/book_review/skeleton.css' %}">

    </head>
    <body>
        <h1>User Info</h1>
        <h3>Name: {{user.first_name}} {{user.last_name}}</h3>
        <h3>Email: {{user.email}}</h3>
        <h3>Total Reviews: {{review_count}}</h3> 
        {% for book in all_reviews %}    
            <p><a href="/books/{{book.book.id}}">{{book.book.title}}</a></p>
        {% endfor %}

        <a href="/books">Home</a>
    </body>
</html>