@model Wedding

<form asp-action="CreateWedding" asp-controller="Wedding" method="POST">
    <span asp-validation-for="wedder_one"></span>
    <label asp-for="wedder_one">Wedder One: </label>
    <input asp-for="wedder_one">

    <span asp-validation-for="wedder_two"></span>
    <label asp-for="wedder_two">Wedder Two: </label>
    <input asp-for="wedder_two">

    <span asp-validation-for="wedding_date"></span>
    <label asp-for="wedding_date">Date: </label>
    <input asp-for="wedding_date">

    <span asp-validation-for="wedding_address"></span>
    <label asp-for="wedding_address">Address: </label>
    <input asp-for="wedding_address">

    <input type="submit" value = "Create">
</form>