.container{
    margin: auto;
    padding: 10px;
    width: 600px;
}

input[type=text], select, textarea {
    width: 97%;
    padding: 12px;
    padding-right: 0px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

.things{
    display: inline-block;
}

.info{
    display: inline-block;
    margin-left: 35px;
    vertical-align: top;
}
span{
    color: red;
}
