<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
        {% load static %} 
        <link rel="stylesheet" href="{% static '/user_dashboard/templated-projection/assets/css/main.css' %}">
    </head>
    <body>
        <div class = "container">
            <div class = "container">
                <div class = "home_header">
                    <h4>Powered by Django</h4>
                    <form action="/login">
                        {% csrf_token %}
                        <input type="submit" value = "Sign in">
                    </form>
                    <form action="/register">
                        {% csrf_token %}
                        <input type="submit" value = "Sign up">
                    </form>
                    <hr>
                </div>
                <div class = "info">
                    <h3>Welcome to the User Dashboard</h3>
                    <h5>Manage Users</h5>
                    <p>Using this application, you'll be able to add, remove, and edit users</p>
                    <h5>Leave Messages</h5>
                    <p>Users will be able to leave a message to another users, and comment on those messages</p>
                </div>
            </div>
        </div>
    </body>
</html>