@model IndexViewModel


<h3>Welcome to the budget calculator. Let's save some money.</h3>
<h1>Sign Up</h1>
<p><span id = "error">@TempData["error"]</span></p> 
<p><span id = "error" asp-validation-for="user.name"></span></p> 
<p><span id = "error" asp-validation-for="user.email"></span></p> 
<p><span id = "error" asp-validation-for="user.phone"></span></p> 
<p><span id = "error" asp-validation-for="user.password"></span></p> 
<p><span id = "error" asp-validation-for="user.confirm_pw"></span></p> 

<form asp-action="CreateUser" asp-controller="User" method="POST">
    
    <input asp-for="user.name" placeholder="Name">
    
    <input asp-for="user.email" placeholder="Email" type="email">

    <input asp-for="user.phone" placeholder="Phone xxxxxxxxxx">

    <input asp-for="user.password" placeholder="Password" type="password">

    <input asp-for="user.confirm_pw" placeholder="Confirm Password" type="password">

    <input type="submit" value = "Register">
</form>
<h1>Sign In</h1>
<p><span id = "error">@TempData["loginerror"]</span></p> 
<p><span id = "error" asp-validation-for="loginUser.email"></span></p>
<p><span id = "error" asp-validation-for="loginUser.password"></span></p>

<form asp-action="Login" asp-controller="User" method="POST">
    <input asp-for="loginUser.email" placeholder="Email">

    <input asp-for="loginUser.password" placeholder="Password" type="password">

    <input type="submit" value = "Login">
</form>

<a href="/resetpassword/get">Forgot your password?</a>


