@model User


@{
    int avatarid = @Model.avatar_id;
    string src = $"../img/avatars/avatar_{avatarid}.jpg";

}
<img style="width: 100px;" src=@src alt="pic">
<h1>Welcome to the homepage, @Model.nickname</h1>



<a href="/logout">Logout</a>