@model User

<h1>yo, welcome to the homepage, @Model.nickname </h1>
@{
    int avatarid = @Model.avatar_id;
    string src = $"../img/avatars/avatar_{avatarid}.jpg'";
<img src=@src alt="pic">
}




<a href="/logout">Logout</a>