<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class = "container">
        <fieldset class = "menu">
            <legend>Menu</legend>
            <a href="/">Home</a> |
            <a href="/projects">Projects</a> |
            <a href="/contact">Contacts</a> 
        </fieldset>
        <h1>Contact me!</h1>
        <form action="/">
            Name: <input type="text" name = "name">
            Email: <input type="text" name = "email">
            Message: <textarea name="message" id="" cols="30" rows="10"></textarea>
            <input type="submit" value = "Send Message">
        </form>
    </div>
</body>
</html>