<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class = "container">
        <h1>Portfolio</h1>
        <fieldset class = "menu">
            <legend>Menu</legend>
            <a href="/">Home</a> |
            <a href="/projects">Projects</a> |
            <a href="/contact">Contacts</a> 
        </fieldset>
        <fieldset>
            <legend>About Me</legend>
            <img src="~/images/moose.jpg" alt="picture of moose">
            <fieldset>
                <p>Moose Phillips</p>
                <p>I like stuff!</p>
            </fieldset>
            <fieldset>        
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius veniam excepturi accusantium obcaecati at, architecto, suscipit voluptatem voluptatum doloremque eos consequuntur natus consectetur similique recusandae tempore, quod voluptas dolor magni!</p>
            </fieldset>
        </fieldset>
    </div>
</body>
</html>